table {
    width: 50%;
    border: 1px solid;
}
td, th {
    border: 1px solid;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th {
    background-color: aqua;
}
tr:nth-child(even){
    background-color:aqua;
}
body {
    background-color: rgb(158, 228, 204);
}
button {
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: rgb(0, 90, 90);
}